<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>Users info</h2>
      <%= form_with model:@user, local:true do |f| %>
      <p>Name</p>
      <%= f.text_field :name, autofocus: true, id:"inputName" %>
      <p>Image</p>
      <%= f.attachment_field :profile_image %>
      <p>Introduction</p>
      <%= f.text_area :introduction %> </br>
      <%= f.submit "Update User", class: "btn btn-secondary" %>
</div>
  </div>
    </div>
      <% end %>